<section class='h-100 items-center'>
	<div class='mt-36'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img
						src='/Ex-1.webp'
						alt='imagen'
						class='object-cover w-full h-full'
					/>
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						EXPERIENCIA “FORMACIÓN DE SUPERVISORES” PARA POLIURETANOS S.A. DE C.V.
					</h2>
					<p class='text-gray-600 mb-4'>
						Para toda empresa, la productividad juega un papel muy importante ya que de ello depende
						que esta siga su curso y pueda cumplir su papel económico, comercial y de contribución
					</p>
					<a href='#' class='inline-block'>
						<button
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- tarjeta 2 -->
	<div class='mt-10'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img
						src='/Ex-2.webp'
						alt='imagen'
						class='object-cover w-full h-full'
					/>
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						COMUNICACIÓN EFECTIVA BOSTON MEDICAL GROUP
					</h2>
					<p class='text-gray-600 mb-4'>
						En el vaivén de las responsabilidades diarias, la comunicación clara actúa como el timón
						que orienta a los miembros del equipo hacia objetivos compartidos. Es el lenguaje que
						transforma
					</p>
					<a href='#' class='inline-block'>
						<button
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- tarjeta 3 -->
	<div class='mt-10'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img
						src='/Ex-3.webp'
						alt='imagen'
						class='object-cover w-full h-full'
					/>
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
					</h2>
					<p class='text-gray-600 mb-4'>
						La protección de datos personales a sido una parte muy desatendida por varias
						organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
						la importancia
					</p>
					<a href='#' class='inline-block'>
						<button
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- tarjeta 4 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-4.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

<!-- tarjeta 5 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-5.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

<!-- tarjeta 6 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-6.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

<!-- tarjeta 7 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-7.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

<!-- tarjeta 8 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-8.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

<!-- tarjeta 9 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img
					src='/Ex-9.webp'
					alt='imagen'
					class='object-cover w-full h-full'
				/>
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
				</h2>
				<p class='text-gray-600 mb-4'>
					La protección de datos personales a sido una parte muy desatendida por varias
					organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
					la importancia
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
</section>

