<!-- tarjeta 1 -->
<div class='relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80'>
	<div
		class='relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96'
	>
		<img src='/Di-1.webp' alt='card-image' class='object-cover w-full h-full' />
	</div>
	<div class='p-6'>
		<div class='flex items-center justify-between mb-2'>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				Diplomado de sistema de gestion de nomina
			</p>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				$1500
			</p>
		</div>
		<p
			class='block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75'
		>
			El participante identificara las principales herramientas legales, fiscales y administrativas
		</p>
	</div>
	<div class='p-6 pt-0'>
		<button
			id='openModalBtn'
			class='align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100'
			type='button'
		>
			Conoce mas
		</button>
	</div>
</div>
<!-- modal -->
<div
	id='modal'
	class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
>
	<div class='bg-[#0e0e0e7a] p-4 rounded shadow-lg'>
        <iframe src="/D1.pdf" style="width: 100%; height: 600px;"></iframe>
		<!-- Botón para cerrar el modal de la tarjeta 1 -->
		<button id='closeModalBtn' class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'>
			Cerrar
		</button>
	</div>
</div>
<script src="../logic/diplomados.ts"></script>


<!-- tarjeta 2 -->
<div class='relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80'>
	<div
		class='relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96'
	>
		<img src='/Di-2.webp' alt='card-image' class='object-cover w-full h-full' />
	</div>
	<div class='p-6'>
		<div class='flex items-center justify-between mb-2'>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				Diplomado de gestion humana y productiva del talento humano
			</p>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				$1500
			</p>
		</div>
		<p
			class='block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75'
		>
        El participante identificará las principales
        herramientas legales, administrativas y
        humanas
		</p>
	</div>
	<div class='p-6 pt-0'>
		<button
			class='align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100'
			type='button'
            id="openModalBtn1"
		>
			Conoce mas
		</button>
	</div>
</div>
<!-- modal -->
<div
	id='modal1'
	class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
>
	<div class='bg-[#0e0e0e7a] p-4 rounded shadow-lg'>
        <iframe src="/D2.pdf" style="width: 100%; height: 600px;"></iframe>
		<!-- Botón para cerrar el modal de la tarjeta 1 -->
		<button id='closeModalBtn1' class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'>
			Cerrar
		</button>
	</div>
</div>

<!-- tarjeta 3-->
<div class='relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80'>
	<div
		class='relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96'
	>
		<img src='/Di-3.webp' alt='card-image' class='object-cover w-full h-full' />
	</div>
	<div class='p-6'>
		<div class='flex items-center justify-between mb-2'>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900 text-balance'
			>
			Excel ejecutivo para el analisis y toma de deciciones
			</p>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				$1500
			</p>
		</div>
		<p
			class='block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75'
		>
        El participante conocerá la manipulación
        de datos 
		</p>
	</div>
	<div class='p-6 pt-0'>
		<button
			class='align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100'
			type='button'
            id="openModalBtn2"
		>
			Conoce mas
		</button>
	</div>
</div>
<!-- modal -->
<div
	id='modal2'
	class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
>
	<div class='bg-[#0e0e0e7a] p-4 rounded shadow-lg'>
        <iframe src="/D3.pdf" style="width: 100%; height: 600px;"></iframe>
		<!-- Botón para cerrar el modal de la tarjeta 1 -->
		<button id='closeModalBtn2' class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'>
			Cerrar
		</button>
	</div>
</div>


<!-- tarjeta 4-->
<div class='relative flex flex-col text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-80'>
	<div
		class='relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-96'
	>
		<img src='/Di-4.webp' alt='card-image' class='object-cover w-full h-full' />
	</div>
	<div class='p-6'>
		<div class='flex items-center justify-between mb-2'>
			<p
				class='block font-sans text-sm antialiased font-medium leading-relaxed text-blue-gray-900 text-balance'
			>
			Evaluación psicométricay estratégica de las competencias laboralesen las organizaciones
			</p>
			<p
				class='block font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900'
			>
				$1500
			</p>
		</div>
		<p
			class='block font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75'
		>
        El participante identificará la importancia de
        realizar una evaluación 
		</p>
	</div>
	<div class='p-6 pt-0'>
		<button
			class='align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg shadow-gray-900/10 hover:shadow-gray-900/20 focus:opacity-[0.85] active:opacity-[0.85] active:shadow-none block w-full bg-blue-gray-900/10 text-blue-gray-900 shadow-none hover:scale-105 hover:shadow-none focus:scale-105 focus:shadow-none active:scale-100'
			type='button'
            id="openModalBtn3"
		>
			Conoce mas
		</button>
	</div>
</div>
<!-- modal -->
<div
	id='modal3'
	class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
>
	<div class='bg-[#0e0e0e7a] p-4 rounded shadow-lg'>
        <iframe src="/D4.pdf" style="width: 100%; height: 600px;"></iframe>
		<!-- Botón para cerrar el modal de la tarjeta 1 -->
		<button id='closeModalBtn3' class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'>
			Cerrar
		</button>
	</div>
</div>
