<h1 class='z-20 pt-52 text-center text-balance text-3xl text-white'>
	Nuestra oferta de <strong class='text-yellow-400 drop-shadow-md'>capacitación</strong>
</h1>
<p class='text-balance text-center pt-9 text-white text-base py-8'>
	Nuestros cursos y diplomados <strong class='text-yellow-300'
		>cuentan con valor curricular por parte de la Secretaría de Educación Pública lo cual garantiza
		la calidad de los mismos</strong
	> también tienen registro en la Secretaría del Trabajo y Previsión Social (STPS) para que los empresarios
	puedan cumplir con sus obligaciones de capacitación. <strong class="text-yellow-300"
		>Los agentes capacitadores tienen la experiencia teórica y práctica necesaria para ser agentes
		de cambio, trasmitir conocimientos y trascender en el cliente</strong
	> nuestra pasión tu talento. Si el programa que requieres no se encuentra en nuestro catálogo, contáctanos,
	para buscar la mejor solución y poder atender la necesidad.
</p>
<h2 class="uppercase text-3xl text-balance text-white text-center">diplomados</h2>
<div class="flex justify-center items-center">
    <hr class="h-1 my-2 w-60 bg-gray-200 border-0 dark:bg-yellow-300">
  </div>
