---
import Layout from '../layouts/Layout.astro'
import Headers from '../components/headers.astro'
import Footer from '../components/footer.astro'
import Comentario from '../components/blog/comentario.astro'
import Galery from '../components/blog/galery.astro'
import Card1 from '../components/blog/card1.astro'
import Card2 from '../components/blog/card2.astro'
---

<Layout title='Blog'>
	<Headers />
	<br />
	<Galery />
	<br />
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2  lg:grid-cols-3 gap-4 auto-rows-[400px] mx-auto p-8  md:p-4 lg:p-10 bg-[#0000008c] ">
		<Card1 />
		<Card2 />
		<!-- Ajusta el número de columnas y agrega más tarjetas según sea necesario -->
	</div>
	
	
	<Footer />
</Layout>
