---
import Layout from "../layouts/Layoutcursos.astro";
import { supabase } from "../lib/supabase";
import Admin from "../components/Cursos/admin.html";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/signin");
}

const email = data?.user?.email;
---
<Layout title="panel de control">
  <div class="flex justify-end">
<div class="flex flex-grow text-lg ">
  <h1>Bienvenido {email} Estamos felices de verte aquí</h1>
</div>
   <br>
    <form action="/api/auth/signout">
      <button type="submit">Cerrar sesión</button>
    </form>
  </div>
<Admin/>
</Layout>