---
import Layout from '../layouts/Layout.astro'
import Experiencia from '../components/Experoencias/Experiencia1.astro'
import Headers from '../components/headers.astro'
import Comentario from '../components/blog/comentario.astro'
import Footer from '../components/footer.astro'
---

<Layout title=' '>
	<Headers />
	<Experiencia />
    <div class=" ">

        
    </div>
	<Footer />
</Layout>
