<div class="py-4 flex justify-center">
  <iframe class="rounded-lg shadow-pink-500 shadow-lg" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=UTC&bgcolor=%23ffffff&title=Cursos%20del%20mes&src=am9zZW1hbnVlbGF2MDRAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=Y2xhc3Nyb29tMTEzNjQ2MTMwNzAwNTExODc0ODk2QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%23AD1457&color=%23b80672" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<div class=" py-3">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
          ¡Accede a Nuestros Cursos!
        </h2>
        <p class="mt-4 text-lg text-white">
          Descubre una <strong class="text-yellow-300">amplia variedad de cursos diseñados para potenciar tus habilidades y conocimientos.</strong>
        </p>
      </div>
      <div class="mt-10 flex justify-center  ">
        <img class="h-64" src="/cursos.jpg" alt="Imagen de cursos">
      </div>
      <div class="mt-10 text-center">
        <a href="/pronto" class="inline-block bg-blue-500 text-white px-6 py-3 rounded-lg text-lg font-semibold hover:bg-blue-600 hover:shadow-lg transition duration-300">Acceder</a>
      </div>
    </div>
  </div>
  