<div class=" py-3">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
          ¡Accede a Nuestros Cursos!
        </h2>
        <p class="mt-4 text-lg text-white">
          Descubre una <strong class="text-yellow-300">amplia variedad de cursos diseñados para potenciar tus habilidades y conocimientos.</strong>
        </p>
      </div>
      <div class="mt-10 flex justify-center  ">
        <img class="h-64" src="/cursos.jpg" alt="Imagen de cursos">
      </div>
      <div class="mt-10 text-center">
        <a href="/pagehome" class="inline-block bg-blue-500 text-white px-6 py-3 rounded-lg text-lg font-semibold hover:bg-blue-600 hover:shadow-lg transition duration-300">Acceder</a>
      </div>
    </div>
  </div>
  