<iframe
	src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15064.808172549747!2d-99.740159!3d19.273578!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd87244ed7b6b7%3A0xb569fbeb11131931!2sA%26E%20Capacitaci%C3%B3n%20y%20Consultor%C3%ADa!5e0!3m2!1ses!2sus!4v1707242405263!5m2!1ses!2sus'
	width='600'
	height='450'
	style='border:0;'
	allowfullscreen=''
	loading='lazy'
	referrerpolicy='no-referrer-when-downgrade'></iframe>

<!-- seccion de contacto -->

<section class=" h-auto w-[800px] " >
   <div class="text-center">
       <h1 class="uppercase text-center text-white">contactanos</h1>
   </div>

  
</section>