<header
	class='py-2 px-10 flex items-center fixed top-0 w-screen justify-between z-40 animate-slider bg-orange-400'
>
	<!-- logo -->
	<div class='flex flex-grow basis-0'>
		<img class='h-14 w-20' src='/images/logo.webp' alt='500px' />
	</div>
	<nav class='flex'>
		<ul
			class='flex text-[16px] [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:text-black [&>li>a]:opacity-90 [&>li>a]:md:my-0 [&>li>a]:my-6 [&>li>a]:mx-4'
		>
			<!-- navbar -->
			<li class='transition duration-300 ease select-none hover:bg-green-400 rounded-md'>
				<a href='#'> SERVICIOS</a>
			</li>
			<li class='transition duration-300 ease select-none hover:bg-green-400 rounded-md'>
				<a href='#'> EDUCACION CONTINUA</a>
			</li>
			<li class='transition duration-300 ease select-none hover:bg-green-400 rounded-md'>
				<a href='#'> EXPERIENCIAS</a>
			</li>
			<li class='transition duration-300 ease select-none hover:bg-green-400 rounded-md'>
				<a href='#'> BLOG</a>
			</li>
			<li class='transition duration-300 ease select-none hover:bg-green-400 rounded-md'>
				<a href='#'> CONTACTANOS</a>
			</li>
		</ul>
	</nav>

	<nav class='flex flex-grow justify-end basis-0'>
		<ul class='flex text-sm [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:text-white'>
			<li>
				<a href='#'
					><svg
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 24 24'
						fill='currentColor'
						class='w-6 h-6 hover:text-cyan-400'
					>
						<path
							fill-rule='evenodd'
							d='M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z'
							clip-rule='evenodd'></path>
					</svg>
				</a>
			</li>
			<li>
				<a href=''>
					<svg
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 24 24'
						class='h-6 w-6 text-white hover:text-cyan-400'
						fill='none'
						stroke='currentColor'
						stroke-width='1.6'
						stroke-linecap='round'
						stroke-linejoin='round'
						><path
							d='M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z'
						></path></svg
					>
				</a>

				<a href=''
					><svg
						class='h-6 w-6 text-white hover:text-cyan-400'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
					>
						<path d='M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z'
						></path>
						<rect x='2' y='9' width='4' height='12'></rect>
						<circle cx='4' cy='4' r='2'></circle>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</header>
