---
	import './styles.css'
---



    <div class="logos ">
      <div class="logos-slide flex">
        <img src="/hotelesbf.svg" />
        <img src="/logo-2.svg" />
        <img src="/Logo-3.svg" />
        <img src="/logo-4.svg" />
        <img src="/logo-5.svg" />
        <img src="/logo-6.svg" />
        <img src="/logo-7.svg" />
        <img src="/logo-8.svg" />
		<img src="/logo-9.svg" />
		<img src="/logo-9.svg" />
      </div>

    </div>
