---
	import './styles.css'
---



    <div class="logos ">
      <div class="logos-slide flex">
        <img src="/3m.svg" />
        <img src="/barstool-store.svg" />
        <img src="/budweiser.svg" />
        <img src="/buzzfeed.svg" />
        <img src="/forbes.svg" />
        <img src="/macys.svg" />
        <img src="/menshealth.svg" />
        <img src="/mrbeast.svg" />
		<img src="/mrbeast.svg" />
		<img src="/3m.svg" />
      </div>

    </div>
