<h1>Registrarse</h1>
<p>¿Ya tienes una cuenta? <a href="/signin">Iniciar sesión</a></p>
<form action="/src/db/registro.ts" method="post">
  <label for="email" for="email">Correo electrónico</label>
  <input type="email" name="email" id="email" />
  <label for="password">Contraseña</label>
  <input type="password" name="password" id="password" />
  <button type="submit">Iniciar sesión</button>
</form>