<section class='h-[600px] relative overflow-hidden top-5 z-10'>
	<!-- Gradiante de la imagen y estilos de tailwind -->
	<div
		class='bg-gradient-to-tr from-blue-400 to-blue-600 absolute top-0 bottom-0 h-screen w-screen z-10'
	>
		<img
			class='object-cover w-full h-[100%] mix-blend-overlay'
			src='https://i.pinimg.com/originals/ab/f2/60/abf260fd216d45308d70a7c1896db66f.gif'
		/>
	</div>
	<section
		class='flex  z-10  relative justify-center  mt-40 '
	>
<div class="opacity-90  overflow-hidden rounded-3xl ">

	<iframe src="https://www.youtube.com/embed/j1102BEI0Rg?autoplay=1&mute=1&controls=1" class="lg:w-[580px] lg:h-[355px] w-[350px] h-[255px]"   title="A YouTube video" frameborder="0" allowfullscreen></iframe>
</div>
	</section>
</section>
