<section class='h-[600px] relative overflow-hidden top-5 z-10'>
	<!-- Gradiante de la imagen y estilos de tailwind -->
	<div
		class='bg-gradient-to-tr from-blue-400 to-blue-600 absolute top-0 bottom-0 h-screen w-screen z-10'
	>
		<img
			class='object-cover w-full h-[100%] mix-blend-overlay'
			src='https://i.pinimg.com/originals/ab/f2/60/abf260fd216d45308d70a7c1896db66f.gif'
		/>
	</div>
	<section
		class='block z-10  relative top-[200px] md:top-44 md:left-80 items-center rounded-3xl opacity-90 shadow-white overflow-hidden '
	>
	<video width="680" height="260" src="/A&E.mp4" controls autoplay muted loop></video>
	
	</section>
</section>
