<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-10">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/2 flex-wrap">
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://www.corbataslester.com/magazine/wp-content/uploads/2023/06/motivacion-personal.jpg" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://neomercados.com/imagenes/motivacion-laboral-claves-y-factores-de-la-productividad-empresarial.jpg" />
        </div>
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://www.autognosis.com/wp-content/uploads/2023/03/LA-MOTIVACION.jpg" />
        </div>
      </div>
      <div class="flex w-1/2 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://www.beedigital.es/wp-content/uploads/2020/09/ee3353b66ce6c7a14bfc70925f202f42951782986-1.jpg" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://seminarioiiuntref.files.wordpress.com/2019/09/motivacion.png?w=760" />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://www.esan.edu.pe/images/blog/2019/09/09/1500x844-motivacion-tendencias.jpg" />
        </div>
      </div>
    </div>
  </div>