

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div class=" ">
            <img class="h-96 max-w-full rounded-lg" src="https://scontent.fmex22-1.fna.fbcdn.net/v/t39.30808-6/430086557_1111035283250610_9127202600317254788_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=0aOy8mj32hEAX_077r6&_nc_ht=scontent.fmex22-1.fna&oh=00_AfCB5fPzyVz2MHBVP6QxmuYIHPyuWacnPWBcOS8dkOap-Q&oe=65EBB336" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://scontent.fmex26-1.fna.fbcdn.net/v/t39.30808-6/422968878_1014736736942065_8904714358026927322_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_ohc=gQOuL010veIAX8j3_Cc&_nc_ht=scontent.fmex26-1.fna&oh=00_AfCQFEE7w6VWnQsWx7ap5_zrLX9By-OmpD_MPx9o8UjE5g&oe=65EB54FE" alt="">
        </div>
        <div>
            <img class="h-[370px] max-w-full rounded-lg" src="https://scontent.fmex31-1.fna.fbcdn.net/v/t39.30808-6/420640237_1009339917481747_3495767660924546196_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=3635dc&_nc_ohc=zMy9TH07hrIAX8sx8rd&_nc_oc=AQnl9xYe30Mz4MsI_BcuIumRXXpLFRvqTFQfbURBJiGVelFo6QwxmhOgei9jd2PdgUQF1Kuo5YYWLKloumiZfsrX&_nc_ht=scontent.fmex31-1.fna&oh=00_AfBCWxu6q43azeVIeIb-7h4FeMGMTxQCp77i1j3rfwWVSg&oe=65EAE265" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-[370px] max-w-full rounded-lg" src="https://scontent.fmex5-1.fna.fbcdn.net/v/t39.30808-6/426236454_1026074115808327_7367119177121957299_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3635dc&_nc_ohc=xsIqM_BpK_oAX-RYbfX&_nc_ht=scontent.fmex5-1.fna&oh=00_AfCNzLQCZJDiWyrdWnzedZH5dvxrwVnfNiO_CLW7nYg3Dw&oe=65EAD65D" alt="">
        </div>
        <div>
            <img class="h-96 max-w-full rounded-lg" src="https://scontent.fmex23-1.fna.fbcdn.net/v/t39.30808-6/419477844_1007897157626023_4379077974640357663_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=9fJwsH721-gAX_rcjMj&_nc_oc=AQnGDoNYi8VG5jcUoagtyN7mFrPjaamqRpescBh753CJHyGXlP6PmGVWuRnhgR1tx56LYTFKPSDnGI1gNe7Vsy3N&_nc_ht=scontent.fmex23-1.fna&oh=00_AfA_bIOA9rnVR9S2nHeLxXuwS5x5mw6CVRq-wqPvdWfTvw&oe=65EBA3C9" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://scontent.fmex5-1.fna.fbcdn.net/v/t39.30808-6/399357639_959795812436158_849067195824703067_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3635dc&_nc_ohc=OqVx_cayu6EAX_Dm7Vm&_nc_ht=scontent.fmex5-1.fna&oh=00_AfAZYYKJOsdSd9TSX87orgXorIIoIMUzAp31PwOwd3pdmQ&oe=65EAEA59" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://scontent.fmex26-1.fna.fbcdn.net/v/t39.30808-6/426265912_1026082589140813_3287520651870141899_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=3635dc&_nc_ohc=Hfvs0h5lH4kAX_afhy1&_nc_ht=scontent.fmex26-1.fna&oh=00_AfB3gyoJZpfTI---wZgRLhlChjnMh9WgawtBtHiiboyLgw&oe=65EB8696" alt="">
        </div>
        <div>
            <img class="h-96 max-w-full rounded-lg" src="https://scontent.fmex26-1.fna.fbcdn.net/v/t39.30808-6/419917164_1009336560815416_2211970993193466307_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=3635dc&_nc_ohc=E-k_5LeVs5QAX8pUakm&_nc_ht=scontent.fmex26-1.fna&oh=00_AfB3C9WXgrlp2r4oKv5ubXFseMqJmU_EMzPp3jAWMBCBpg&oe=65EA8BC8" alt="">
        </div>
        <div>
            <img class="h-[370px] max-w-full rounded-lg" src="https://scontent.fmex27-1.fna.fbcdn.net/v/t39.30808-6/422565238_1014733836942355_1783150279508244587_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=3635dc&_nc_ohc=qJIMuXyMZKYAX_9fV68&_nc_ht=scontent.fmex27-1.fna&oh=00_AfBwsv5gV4CacAs_qK4n4UPlLcRBqSv4jHZexqrcGC5sWA&oe=65EB7FC9" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-[390px] max-w-full rounded-lg" src="https://scontent.fmex27-1.fna.fbcdn.net/v/t39.30808-6/384569007_933246975091042_1618801187448473766_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=3635dc&_nc_ohc=82AGY6N_zYgAX_brBaw&_nc_ht=scontent.fmex27-1.fna&oh=00_AfCdL1kE3of_KFCZOLpDEemslipd32TfzqHQvGcAvMd9jw&oe=65EA28D9" alt="">
        </div>
        <div>
            <img class="h-[300px] max-w-full rounded-lg" src="https://scontent.fmex26-1.fna.fbcdn.net/v/t39.30808-6/282308565_1162549277927738_9069726298825345448_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=3635dc&_nc_ohc=T796gD8ExKYAX-pv5ny&_nc_ht=scontent.fmex26-1.fna&oh=00_AfAj12SAf5VGEKpe-EJhVeu8hcujWvyEMlh1quWPR5-vpA&oe=65EA0614" alt="">
        </div>
        <div>
            <img class="h-96 max-w-full rounded-lg" src="https://scontent.fmex27-1.fna.fbcdn.net/v/t39.30808-6/282005302_1161868907995775_8769186838672461670_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=3635dc&_nc_ohc=kzKuy0b8H9cAX8WEADr&_nc_ht=scontent.fmex27-1.fna&oh=00_AfDNv8fydNwVxw5hGDd1fgjMVFBs1pfKGCjCmlI23l31wg&oe=65EA9713" alt="">
        </div>
    </div>
</div>
