<section class='py-10  flex items-center justify-center'>
	<div class='container mx-auto bg-gray-900 bg-opacity-30 shadow-lg  shadow-black p-8 rounded-lg max-w-2xl'>
		<h2 class='text-3xl font-bold mb-8 text-center uppercase'>Nuestra Historia</h2>

		
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>Tenancingo, México. 1992</h3>
			<p class='text-white'>
				Se funda nuestra empresa hermana Instituto Superior de Estudios Comerciales y Administrativos S.C., institución educativa que durante 25 años ha prestado servicios de nivel medio superior en el municipio de Tenancingo, México, consolidándose como una de las mejores escuelas de la zona.
			</p>
		</div>

	
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>Toluca, México. Junio.2018</h3>
			<p class='text-white'>
				Se crea A&E Capacitación y Consultoría bajo el esquema de brindar “SERVICIOS DE CAPACITACIÓN” en la ciudad de Toluca, Estado de México contando con la experiencia de sus profesionistas de más de 15 años en la Gestión del Recurso Humano y Docencia en Instituciones Públicas y Privadas de nivel superior de nuestra socia fundadora, permite hacer una evaluación precisa de aquello que necesitan los profesionales para seguir desarrollándose en sus diferentes áreas de especialización y de esta manera hacer crecer su Talento.
			</p>
		</div>

		
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>México. 2018</h3>
			<p class='text-white'>
				Se inicia el alta de nuestros instructores y diferentes cursos en la Secretaría del Trabajo y Previsión Social (STPS). A la par del acontecimiento anterior, ISECA S.C., participa de manera conjunta, reconociendo los programas que la Consultora ofrece, esto como respuesta a la innovación que la propia institución requiere y haciendo uso de su alcance de su acta constitutiva y registro ante la Secretaría de Educación Pública (SEP) para brindar Servicios de Capacitación, Adiestramiento, Educación Superior y Posgrados.
			</p>
		</div>

	
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>México. 2019</h3>
			<p class='text-white'>
				La fusión del reconocimiento ante la STPS y la SEP, ha permitido ofrecer servicios de calidad a más de 400 personas en programas abiertos durante el 2019; y de manera privada permitiendo entrar a empresas de diferentes giros como servicios, automotriz, plásticos y educativos.
			</p>
		</div>

		
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>México. Febrero.2020</h3>
			<p class='text-white'>
				Se inicia con los primeros programas educativos de tipo Diplomado especializándose en las Áreas Estratégicas de la Gestión del Talento Humano y en Septiembre de este año se busca incorporar programas de posgrados a nuestro catálogo actual.
			</p>
		</div>

	
		<div class='mb-12'>
			<h3 class='text-xl font-semibold mb-4'>Mexico. Marzo. 2022</h3>
			<p class='text-white'>
				En medio de esta crisis que han originado entornos un tanto complicados, las organizaciones se han visto obligadas a gestionar cambios que les permitan seguir siendo competitivos. Así, A&E ha favorecido con sus servicios de consultoría y capacitación, para que el talento pueda seguir desarrollándose y hacer frente a todo tipo de cambio. Mediante sus servicios online y el trabajo colaborativo, A&E no solo está presente en México, sino ha traspasado fronteras a países de habla hispan tales como Argentina, Bolivia, Chile, Ecuador, España, Guatemala, Honduras, Perú y Venezuela, a los cuales ha llevado el mensaje que conectar con el propósito mediante la potencialización del Talento, podemos dar valor agregado que generen cambios.
			</p>
		</div>
	</div>
</section>
