<img src='/E-2.webp' class='flex flex-grow relative overflow-hidden z-30 w-full' alt='' />

<div
	class='grid mb-8 border border-gray-200 rounded-lg shadow-sm my-7 dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800 z-10'
>
	<figure
		class='flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700'
	>
		<blockquote class='max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400'>
			<h3 class='text-lg font-semibold text-gray-900 dark:text-white'>Misión</h3>
			<p class='my-4'>
				Somos una empresa consultora que provoca la profesionalización y potencialización del
				talento humano dentro y fuera de las organizaciones, por medio de programas integrales que
				proporcionen soluciones conectadas a las necesidades del mercado educativo y laboral en los
				nuevos entornos, con base en los principios de adaptación, bienestar, calidad, innovación y
				respeto del ser humano"
			</p>
		</blockquote>
		<figcaption class='flex items-center justify-center'>
			<img
				class='rounded-full w-9 h-9'
				src='https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png'
				alt='profile picture'
			/>
			<div class='space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3'>
				<div>Bonnie Green</div>
				<div class='text-sm text-gray-500 dark:text-gray-400'>Developer at Open AI</div>
			</div>
		</figcaption>
	</figure>
	<figure
		class='flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700'
	>
		<blockquote class='max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400'>
			<h3 class='text-lg font-semibold text-gray-900 dark:text-white'>Visión</h3>
			<p class='my-4'>
				Ser una empresa sustentable que genere cambios rentables, para todo de tipo de
				organizaciones en referencia a su talento humano, dentro y fuera de México."
			</p>
		</blockquote>
		<figcaption class='flex items-center justify-center'>
			<img
				class='rounded-full w-9 h-9'
				src='https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png'
				alt='profile picture'
			/>
			<div class='space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3'>
				<div>Roberta Casas</div>
				<div class='text-sm text-gray-500 dark:text-gray-400'>Lead designer at Dropbox</div>
			</div>
		</figcaption>
	</figure>
</div>

<div class='items-center'>
	<h1 class='text-white text-2xl text-center uppercase'>valores</h1>
</div>
