<!-- Imagen principal -->
<img src='/E-2.webp' class='flex flex-grow w-full h-[650px] relative overflow-hidden z-10' alt='' />

<!-- Sección de Tarjetas -->
<div class='grid mb-8 border border-gray-200 rounded-lg shadow-sm my-10 mx-7 dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800 z-10'>
    <!-- Tarjeta 1 - Misión -->
    <figure class='flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700'>
        <blockquote class='max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400'>
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>Misión</h3>
            <p class='my-4'>
                Somos una empresa consultora que provoca la profesionalización y potencialización del
                talento humano dentro y fuera de las organizaciones, por medio de programas integrales que
                proporcionen soluciones conectadas a las necesidades del mercado educativo y laboral en los
                nuevos entornos, con base en los principios de adaptación, bienestar, calidad, innovación y
                respeto del ser humano.
            </p>
        </blockquote>
        <figcaption class='flex items-center justify-center'>
            <img class='rounded-full w-9 h-9' src='https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png' alt='profile picture' />
            <div class='space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3'>
                <div>Adriana Gonzalez</div>
                <div class='text-sm text-gray-500 dark:text-gray-400'>CEO de la consultoria</div>
            </div>
        </figcaption>
    </figure>

    <!-- Tarjeta 2 - Visión -->
    <figure class='flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 md:rounded-se-lg dark:bg-gray-800 dark:border-gray-700'>
        <blockquote class='max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400'>
            <h3 class='text-lg font-semibold text-gray-900 dark:text-white'>Visión</h3>
            <p class='my-4'>
                Ser una empresa sustentable que genere cambios rentables, para todo de tipo de
                organizaciones en referencia a su talento humano, dentro y fuera de México.
            </p>
        </blockquote>
        <figcaption class='flex items-center justify-center'>
            <img class='rounded-full w-9 h-9' src='https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png' alt='profile picture' />
            <div class='space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3'>
                    <div>Adriana Gonzalez</div>
                <div class='text-sm text-gray-500 dark:text-gray-400'>CEO de la consultoria</div>
            </div>
        </figcaption>
    </figure>
</div>

<!-- Sección de Incentivos con Fondo Oscuro -->
<section class='bg-transparent text-white py-16 mx-6 my-7 rounded-md shadow-white shadow-lg'>
    <div class='container mx-auto text-center'>
        <h2 class='text-3xl font-bold uppercase mb-8'>Valores</h2>

        <div class='grid grid-cols-1 md:grid-cols-1 lg:grid-cols-5 gap-8'>
            <!-- Incentivo 1 - Respeto -->
            <div class='bg-gray-900 p-8 rounded shadow-md'>
                <span class='text-4xl text-yellow-400 mb-4'>&#9733;</span>
                <h3 class='text-xl font-semibold uppercase mb-4'>Respeto</h3>
                <p class='text-gray-300 text-sm'>
                    Nuestros clientes son la razón de ser, por lo cual, se merecen un trato digno y
                    profesional, basándonos en sus necesidades y condiciones.
                </p>
            </div>

            <!-- Incentivo 2 - Calidad -->
            <div class='bg-gray-900 p-8 rounded shadow-md'>
                <span class='text-4xl text-yellow-400 mb-4'>&#9733;</span>
                <h3 class='text-xl font-semibold uppercase mb-4'>Calidad</h3>
                <p class='text-gray-300 text-sm'>
                    Los programas que ofrecemos cumplen con las disposiciones normativas necesarias, nuestros
                    clientes merecen tener la certeza que aquello que contraten coadyuven al cumplimiento de
                    objetivos en todos los sentidos.
                </p>
            </div>

            <!-- Incentivo 3 - Confianza -->
            <div class='bg-gray-900 p-8 rounded shadow-md'>
                <span class='text-4xl text-yellow-400 mb-4'>&#9733;</span>
                <h3 class='text-xl font-semibold uppercase mb-4'>Confianza</h3>
                <p class='text-gray-300 text-sm'>
                    Trabajar con honradez y claridad en las acciones, permite a nuestro cliente poner a
                    nuestro alcance sus necesidades, confiando que las mismas serán cubiertas de manera
                    segura.
                </p>
            </div>

            <!-- Incentivo 4 - Innovación -->
            <div class='bg-gray-900 p-8 rounded shadow-md'>
                <span class='text-4xl text-yellow-400 mb-4'>&#9733;</span>
                <h3 class='text-xl font-semibold uppercase mb-4'>Innovación</h3>
                <p class='text-gray-300 text-sm'>
                    Nuestros programas están dirigidos a la búsqueda del crecimiento constante del ser humano,
                    especialmente aquellos que en su ámbito laboral potencialicen sus habilidades.
                </p>
            </div>

            <!-- Incentivo 5 - Desarrollo -->
            <div class='bg-gray-900 p-8 rounded shadow-md'>
                <span class='text-4xl text-yellow-400 mb-4'>&#9733;</span>
                <h3 class='text-xl font-semibold uppercase mb-4'>Desarrollo</h3>
                <p class='text-gray-300 text-sm'>
                    Nos adaptamos a la transformación de los diferentes sistemas por los cuales nuestros
                    clientes pueden adquirir el crecimiento constante.
                </p>
            </div>
        </div>
    </div>
</section>