<section class="container mt-4 max-w-400" id="contenedor-formulario">

  <div class="text-center text-white" id="titulo-formulario">      
    <h2 class="p-3">Contactos</h2>  
  </div>

  <form id="formulario" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Correo Electrónico</label>
      <input type="email" required class="form-input" id="email" name="email" placeholder="nombre@ejemplo.com">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">Nombre</label>
      <input type="input" required class="form-input" id="nombre" name="nombre" placeholder="Adrian Mendoza">
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="tel">Precio</label>
      <input type="tel" required class="form-input" id="tel" name="Precio" placeholder="Precio">
    </div>

    <div class="flex items-center justify-center">
      <button id="btn" type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Enviar Mensaje</button>
    </div>
  </form>

  <div class="text-light" id="respuesta"></div>

</section>

<script src="/src/components/logic/cardcurso.js">

</script>
