---

import { getI18N } from "../../i18n";
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

---


<a  class='inline-block'>
    <button
    id="openModalBtn1"
        class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
    >
        Leer más
    </button>
        <!-- modal -->
        <div
        id='modal1'
        class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
    >
        <div class='bg-white p-10 rounded shadow-lg'>
            <p class='text-xl font-bold mb-4' set:html={i18n.TITLE_EXPERIENCE} />
            <p class='text-balance text-sm' set:html={i18n.CONTENT_EXPERIENCE} />
            <!-- Botón para cerrar el modal de la tarjeta 1 -->
            <button
                id='closeModalBtn1'
                class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'
            >
                Cerrar
            </button>
        </div>
    </div>
</a>