---
interface Props {
	title: string
	class?: string
	contenido?: string
  
}
const { title, contenido} = Astro.props

---

<article
	class={`
  ${Astro.props.class}
    content-center mt-10
    max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300
`}
>
<div class="flex">
    <div class='md:w-72'>
        <slot name='image' class='object-cover w-full h-full' />
    </div>
    <div class="block p-6 md:w-2/3">

      <h1 class="text-xl font-semibold text-gray-800 mb-2 ">{title}</h1>
        {contenido && <h2 class="text-gray-600 mb-4 "> {contenido} </h2>}
       
    </div>
    
</div>

</article>