---
import { getI18N } from '../../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class='h-100 items-center'>
	<div class='mt-36'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img src='/Ex-1.webp' alt='imagen' class='object-cover w-full h-full' />
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						EXPERIENCIA “FORMACIÓN DE SUPERVISORES” PARA POLIURETANOS S.A. DE C.V.
					</h2>
					<p class='text-gray-600 mb-4'>
						Para toda empresa, la productividad juega un papel muy importante ya que de ello depende
						que esta siga su curso y pueda cumplir su papel económico, comercial y de contribución
					</p>
					<a href='#' class='inline-block'>
						<button
							id='openModalBtn'
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
						<!-- modal -->
						<div
							id='modal'
							class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
						>
							<div class='bg-white p-10 rounded shadow-lg'>
								<p class='text-xl font-bold mb-4' set:html={i18n.TITLE_EXPERIENCE} />
								<p class='text-balance text-sm' set:html={i18n.CONTENT_EXPERIENCE} />
								<!-- Botón para cerrar el modal de la tarjeta 1 -->
								<button
									id='closeModalBtn'
									class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'
								>
									Cerrar
								</button>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- tarjeta 2 -->
	<div class='mt-10'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img src='/Ex-2.webp' alt='imagen' class='object-cover w-full h-full' />
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						COMUNICACIÓN EFECTIVA BOSTON MEDICAL GROUP
					</h2>
					<p class='text-gray-600 mb-4'>
						En el vaivén de las responsabilidades diarias, la comunicación clara actúa como el timón
						que orienta a los miembros del equipo hacia objetivos compartidos. Es el lenguaje que
						transforma
					</p>
					<a href='#' class='inline-block'>
						<button
						id="openModalBtn1"
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
							<!-- modal -->
							<div
							id='modal1'
							class='fixed inset-0 bg-black bg-opacity-50 z-40 py-10 hidden items-center justify-center px-3 overflow-y-auto'
						>
							<div class='bg-white p-10 rounded shadow-lg'>
								<p class='text-xl font-bold mb-4' set:html={i18n.TITLE_EXPERIENCE} />
								<p class='text-balance text-sm' set:html={i18n.CONTENT_EXPERIENCE} />
								<!-- Botón para cerrar el modal de la tarjeta 1 -->
								<button
									id='closeModalBtn1'
									class='mt-4 bg-blue-500 text-white font-bold py-2 px-4 rounded'
								>
									Cerrar
								</button>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- tarjeta 3 -->
	<div class='mt-10'>
		<div
			class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
		>
			<div class='md:flex'>
				<div class='md:w-72'>
					<img src='/Ex-3.webp' alt='imagen' class='object-cover w-full h-full' />
				</div>
				<div class='p-6 md:w-2/3'>
					<h2 class='text-xl font-semibold text-gray-800 mb-2'>
						EXPERIENCIA DERECHOS ARCO PARA HOCKEY EXPORT PRINT
					</h2>
					<p class='text-gray-600 mb-4'>
						La protección de datos personales a sido una parte muy desatendida por varias
						organizaciones y la relevancia de este es muy importante para las organizaciones, ya que
						la importancia
					</p>
					<a href='#' class='inline-block'>
						<button
							class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
						>
							Leer más
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- tarjeta 4 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-4.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					EXPERIENCIA ATENCIÓN AL CLIENTE LASER OCULAR LOMAS
				</h2>
				<p class='text-gray-600 mb-4'>
					En la actualidad hay una diversidad de empresas que están interesadas solo en las
					ganancias que en parte es fundamental para la existencia de esta, pero en gran medida
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- tarjeta 5 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-5.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					DESARROLLANDO MI LIDERAZGO TRANSFORMACIONAL LASER OCULAR LOMAS
				</h2>
				<p class='text-gray-600 mb-4'>
					Actualmente en el mundo laboral el liderazgo es fundamental para lograr el éxito y
					crecimiento, ya que este es una habilidad de saber influir en los otros para lograr
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- tarjeta 6 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-6.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					Desarrollando Mi Liderazgo transformacional.
				</h2>
				<p class='text-gray-600 mb-4'>
					El curso que se llevó a cabo contempló un tema de gran significado en las organizaciones,
					que radica en la capacitación de sus colaboradores para que se reconociera el valor
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- tarjeta 7 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-7.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>Taller de Inteligencia Emocional</h2>
				<p class='text-gray-600 mb-4'>
					El taller comenzó con una introducción detallada sobre la importancia de la inteligencia
					emocional en nuestras vidas. A través de presentaciones interactivas y ejemplos prácticos,
					el facilitador nos mostró
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- tarjeta 8 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-8.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					Curso de trabajo en equipo “Zapatos Crucero”
				</h2>
				<p class='text-gray-600 mb-4'>
					El Pasado 17 y 18 de mayo 2023 brindamos una capacitación de Trabajo equipo en “ZAPATOS
					CRUCERO” una empresa mexicana fundada en 1938 fabricantes de Zapatos de Seguridad en
					Toluca
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- tarjeta 9 -->
<div class='mt-10'>
	<div
		class='max-w-3xl mx-auto bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition duration-300'
	>
		<div class='md:flex'>
			<div class='md:w-72'>
				<img src='/Ex-9.webp' alt='imagen' class='object-cover w-full h-full' />
			</div>
			<div class='p-6 md:w-2/3'>
				<h2 class='text-xl font-semibold text-gray-800 mb-2'>
					Curso de comunicación asertiva “WEMEX”
				</h2>
				<p class='text-gray-600 mb-4'>
					El Pasado 17 de mayo 2023 brindamos una capacitación de comunicación asertiva a los
					colaboradores de “WEMEX” una empresa mexicana, fundada en 1997, consolidándose como
					fabricante de Herramientas y ruedas
				</p>
				<a href='#' class='inline-block'>
					<button
						class='bg-gradient-to-r from-blue-200 to-blue-900 text-blue py-2 px-4 rounded-full hover:from-blue-600 transition duration-300 focus:outline-none focus:ring focus:border-blue-300'
					>
						Leer más
					</button>
				</a>
			</div>
		</div>
	</div>
</div>

<script src="../logic/card-experience.js"></script>