---
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/webp' href='/logo.webp' />
		<link
			href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.css'
		/>

		<link
			rel='stylesheet'
			href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200'
		/>
		<meta name='generator' content={Astro.generator} />

		<link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css' />
		<script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			rgb(246, 145, 22) 60%
		);
	}
	html {
		margin: 12px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
			Geneva, Verdana, sans-serif;
		background-size: 220px;
	}
	body {
		background-color: rgb(15 23 42);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	@keyframes slide {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}
</style>
